<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="/mob.css" />
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="An in-depth discussion on the latest tooling, workflow and best practices for frontend developers">

	<script type="text/javascript" src="//use.typekit.net/hxl2ivz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<div class="container">

		<h1><a href="/">Upfront Podcast <img id="logo" src="/img/logo.png" /></a></h1>

		<p id="large">An in-depth discussion on the latest tooling, workflow and best practices for front-end developers, brought to you every week by <a href="http://jackfranklin.co.uk/">Jack</a> and <a href="http://benhowdle.im">Ben</a>.</p>

		<div id="rss" class="via"><a href="{{ site.url }}feed.xml">RSS</a></div>

		<div id="itunes" class="via"><a href="https://itunes.apple.com/gb/podcast/upfront-podcast/id598389212?mt=2">iTunes</a></div>

		<div class="clearfix"></div>

		<hr />

		{{ content }}

	</div>

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-3206068-20']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>

</body>
</html>
